<h3 class="title-text mt-2 mb-0 ml-0">Experience</h3>
<div class="row footer-bg align-center mb-5">
  <div class="container-fluid">

    <div class="exp-hover m-1 mt-2 p-2 row border border-success">
      <span class="col-10">
        Capgemini Technology Services
        <span class="ml-2 exp-year">2 Years (Current)</span>
      </span>
      <span class="col-2 text-center">
        <fa name="angle-double-down" style="font-size: 21px;"></fa>
      </span>
    </div>

  </div>
  <div class="container-fluid">
    <div class="exp-hover m-1 mt-2 p-2 row border border-success">
      <span class="col-10">
        Cognizant Technology Services
        <span class="ml-2 exp-year">3 Years 8 Months</span>
      </span>
      <span class="col-2 text-center">
          <fa name="angle-double-down" style="font-size: 21px;"></fa>
        </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="exp-hover m-1 mt-2 p-2 row border border-success">
      <span class="col-10">
        Wipro Technology Limited
        <span class="ml-2 exp-year">2 Years 6 Months</span>
      </span>
      <span class="col-2 text-center">
          <fa name="angle-double-down" style="font-size: 21px;"></fa>
        </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="exp-hover m-1 mt-2 p-2 row border border-success">
      <span class="col-10">
        Xlabz Technologiies
        <span class="ml-2 exp-year">8 Months</span>
      </span>
      <span class="col-2 text-center">
          <fa name="angle-double-down" style="font-size: 21px;"></fa>
        </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="exp-hover m-1 mt-2 p-2 row border border-success">
      <span class="col-10">
        KnowledgeQ Interactive Consultancy Services P.Ltd
        <span class="ml-2 exp-year">2 Years</span>
      </span>
      <span class="col-2 text-center">
          <fa name="angle-double-down" style="font-size: 21px;"></fa>
        </span>
    </div>
  </div>
</div>
