<h3 class="title-text mt-2 mb-0 ml-0">Experience</h3>
<div class="row footer-bg align-center mb-5">
  <div class="container-fluid">
    <a href="#">
      <div class="exp-hover m-1 mt-2 p-2 row border border-success">
        <span class="col-md-8 col-8">Capgemini</span>
        <span class=" offset-md-2 col-md-2 col-4 align-right float-right">2y</span>
      </div>
    </a>
  </div>
  <div class="container-fluid">
    <a href="#">
      <div class="exp-hover m-1 mt-2 p-2 row border border-success">
        <span class="col-md-8 col-8">Cognizant</span>
        <span class=" offset-md-2 col-md-2 col-4 align-right float-right">3y 6m</span>
      </div>
    </a>
  </div>
  <div class="container-fluid">
    <a href="#">
      <div class="exp-hover m-1 mt-2 p-2 row border border-success">
        <span class="col-md-8 col-8">Wipro</span>
        <span class="offset-md-2 col-md-2 col-4 align-right float-right">2y 6m</span>
      </div>
    </a>
  </div>
  <div class="container-fluid">
    <a href="#">
      <div class="exp-hover m-1 mt-2 p-2 row border border-success">
        <span class="col-md-8 col-8">Xlabz</span>
        <span class=" offset-md-2 col-md-2 col-4 align-right float-right">8m</span>
      </div>
    </a>
  </div>
  <div class="container-fluid">
    <a href="#">
      <div class="exp-hover m-1 mt-2 p-2 row border border-success">
        <span class="col-md-8 col-8">KnowledgeQ</span>
        <span class=" offset-md-2 col-md-2 col-4 align-right float-right">2y</span>
      </div>
    </a>
  </div>
</div>
