/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.css';
@import 'node_modules/font-awesome/css/font-awesome.css';

/*my own classes */
body {
    background: rgb(255, 255, 255);
    background-size: 100%;
}
.main-container{
    background-color: rgb(255, 255, 255);
    background-size: 100%;
}
.header-bg {
    height: 80px;
    /*background-color: #154e10;*/
    background-image: url('./assets/images/bg.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer-bg {
    height: 30px;
    border-top: #154e10 1px solid;
    background-color: rgb(255, 255, 255);
}
.white-font {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-dark {
    background-color: #154e10 !important;
}
.txt-transform {
    position: fixed;
    top: 25px;
    left: 20px;
    opacity: 1;
    background-color: black;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Safari */
    transform: rotate(-35deg); /* Standard syntax */
}

.title-text{
    font-size: 24px;
    color: #154e10;
}

.subtitle-text{
    font-size: 16px;
    color: #154e10;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .white-font {
        font-size: 24px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}