<div class="p-2">
  <h3>About</h3>
  <div class="mt-4 row">
    <span class="p-3 m-2 col-md-1 col-3 rounded-circle bg-primary text-white text-center">Java script</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-dark text-white text-center">Type script</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-secondary text-white">HTML5</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-success text-white">Extjs</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-info text-white">Angular 5</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-danger text-white">React.js</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-warning text-white">Jquery</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-secondary text-white">Boot strap</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-dark text-white">D3.js</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-info text-white">CSS</span>
    <span class="p-3 m-2 text-center col-md-1 col-3 rounded-circle bg-primary text-white">SCSS</span>
    <div class="m-3">
      I am Sridher, UI/Web Developer. Totally 11 years of experience in IT industry. Completed my B.Tech degree in the year of 2006 and started my career in small organization as software developer role.
    </div>
     
  </div>
</div>