<h3 class="title-text mt-2 mb-0 ml-0">Contact</h3>
<div class="row footer-bg align-center mb-5">
  <div class="container-fluid m-3">
    <div class="row">
      <span class="col-4 text-right">
        Name:
      </span>
      <span class="col-6">
        <input type="text" size="50" />
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-4 text-right">
        Email:
      </span>
      <span class="col-6">
        <input type="email" size="50" />
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-4 text-right">
        Mobile:
      </span>
      <span class="col-6">
        <input type="tel" size="50" />
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-4 text-right">
        Comments:
      </span>
      <span class="col-6">
        <textarea cols="52" rows="10"></textarea>
      </span>
    </div>
  </div>
</div>