<h3 class="title-text mt-2 mb-0 ml-0">Contact</h3>
<div class="row footer-bg align-center mb-5">
  <div class="container-fluid m-3 form-group">
    <div class="row">
      <span class="col-md-4 col-12 text-md-right">
        Name:
      </span>
      <span class="col-md-6 col-12">
        <input type="text" class="form-control" />
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-md-4 col-12 text-md-right">
        Email:
      </span>
      <span class="col-md-6 col-12">
        <input type="email" class="form-control"/>
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-md-4 col-12 text-md-right">
        Mobile:
      </span>
      <span class="col-md-6 col-12">
        <input type="tel" class="form-control"/>
      </span>
    </div>
    <div class="row mt-3">
      <span class="col-md-4 col-12 text-md-right">
        Comments:
      </span>
      <span class="col-md-6 col-12">
        <textarea rows="7" class="form-control"></textarea>
      </span>
    </div>
    <div class="row mt-3">      
      <span class="col-12 text-center">
        <button type="submit" class="btn btn-primary my-1">Submit</button>
      </span>
    </div>
  </div>
  <div class="container-fluid">.</div>
</div>